@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (ViewData.ModelState.Count > 0)
{
    
}
@if (User.IsInRole("Jefatura"))
{
    <div class="alert alert-success">
        <p>Has iniciado sesión correctamente.</p>
    </div>

    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("UsuarioAdmin", "UsuarioAdmin")'; // Redirige a la página principal (UsuarioAdmin)
        }, 3000); 
        // Redirige después de 3 segundos (puedes ajustar el tiempo según sea necesario)
        alert("¡Bienvenido, Jefatura!");
    </script>
}
else
{
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")'; // Redirige a la página principal (Home)
        }, 3000); // Redirige después de 3 segundos (puedes ajustar el tiempo según sea necesario)
    </script>
}
