input {
  background: var(--tercero) !important;
  border-radius: 10px !important;
  padding: 10px 15px !important;
  width: 250px;

  &:hover {
    background: var(--cuarto) !important;
  }
}

h2 {
  font-size: 40px !important;
}

tbody {
  & tr:has(th) {
    background: var(--segundo);
  }

  & td,
  th {
    padding: 10px 20px;
  }

  & th {
    color: white;
  }

  & tr:hover>td {
    background: #f0f0f0;
  }
}

form {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

a.link {
  background: #def2ff71;
  text-decoration: underline;

  &:hover {
    background: #c3d6ef;
    color: white;
  }
}

a.view {
  background: #e1eeff;

  &:hover {
    background: #9eb8da;
    color: white;
  }
}

table tbody {
  font-size: 20px;

  & th {
    color: white;
    background: var(--segundo);
  }

  & tr:hover>td {
    background: #f6f3f3;
    color: var(--primero);
  }

  & tr:last-child td:first-child {
    border-radius: 0 0 0 15px !important;
  }

  & tr:last-child td:last-child {
    border-radius: 0 0 15px 0 !important;
  }

  & th,
  td {
    padding: 10px 20px;
    text-align: center;
  }

  & td {
    background: white;
  }

  & th:first-child {
    border-radius: 15px 0 0 0 !important;
  }

  & th:last-child {
    border-radius: 0 15px 0 0 !important;
  }

}