form{
  width: 800px;
  min-height: 500px;
  display: flex;
  padding: 2% 10%;
  justify-content: center;
  align-items: start;
  background: var(--tercero);
  border-radius: 20px;
  flex-direction: column;
  gap: 10px;
}

h2{
  font-size: 40px !important;
  font-weight: 500 !important;
  color: var(--segundo);
}

label{
  font-size: 20px;
  color: var(--segundo);
}

input,textarea{
  border-bottom: 2px solid var(--primero);
  border-radius: 8px;
  padding: 5px 10px !important;
  width: 80%;
  height: 44px;
  outline: none;
  font-size: 0.8rem;
}
textarea{
  height: 120px;
}

.btn {
  height: 44px;
  width: 150px;
  border-radius: 15px;
  border: 1px solid var(--segundo);
  color: var(--segundo);
  font-weight: 500;
  font-size: 18px;
  background: var(--tercero);
  transition: all 0.2s;
  &:hover {
    color: var(--primero);
    background: var(--cuarto);
    border: 1px solid var(--segundo);
  }
}
