* {
  margin: 0;
  padding: 0;
  color: var(--segundo);
  box-sizing: border-box;
}

fieldset {
  width: 1400px;
  min-height: 160px;
  height: auto;
  border: 2px solid rgb(87 153 255/0.4);
  background: var(--tercero);
  border-radius: 16px;
}
legend {
  margin: 0 0 0 20px;
  font-size: 40px;
  color: var(--primero);
  font-weight: 500;
  background: var(--tercero);
  border-radius: 16px;
  width: 360px;
  text-align: center;
}
section.start {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  gap: 5%;
}

.start picture {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 300px;
    max-height: 500px;
    border-radius: 15px;
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

div.aspNetHidden{
  display: none;
}
.start main {
  width: 100%;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px 0;
  & span.head {
    font-size: 40px;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 6;
    margin-bottom: 20px;
    border-width: 2px;
    border-color: rgb(30 58 138/0.6);
    border-style: solid;
    border-radius: 24px;
  }
  & span.datos {
    font-size: 30px;
    font-weight: 500;
    grid-column: span 2;
  }
  & label {
    font-size: 30px;
    font-weight: 700;
    grid-column: span 2;
  }
}

.btn {
  height: 44px;
  grid-column: span 5;
  margin-left: calc(50% - 100px);
  width: 200px;
  border-radius: 15px;
  border: 2px solid var(--segundo);
  color: var(--segundo);
  font-weight: 500;
  font-size: 18px;
  background: var(--tercero);
  transition: all 0.2s;
  &:hover {
    color: var(--primero);
    background: var(--cuarto);
    border: 2px solid var(--primero);
  }
}

section.extras div{
  display: grid;
  place-content: center;
  place-items: center;
  grid-template-columns: repeat(4, 20%);
  padding: 2% 5%;
  gap: 20px 10px;
  & label,
  span {
    font-size: 30px;
    font-weight: 500;
  }
  & label {
    font-weight: 700;
    text-align: center;
  }
}

section.data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.anuncio{
  font-size: 50px;
}
