@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400;500;700&display=swap");

:root {
  --primero: #5579cb;
  --segundo: #3b698e;
  --tercero: #daeeff;
  --cuarto: #b5deff;
  --quinto: #ffffff;
  --fondo: #ebf1f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Saira Semi Condensed", sans-serif;
  color: var(--segundo);
}

body {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--fondo);
}

form{
  background: var(--quinto);
  height: 500px;
  width: 600px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 5% 5%;
  gap: 15px;
}
h2{
  font-size: 2.5rem;
  grid-column: span 4;
}
label{
  font-size: 1.3rem;
  grid-column: span 4;
}
.input {
  grid-column: span 4;
  height: 44px;
  border-radius: 8px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--segundo);
  outline: 0;
  margin-right: 25px;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 500;
  color: var(--primero);
  transition: all 0.2s;

  &:focus,
  &:hover {
    border: solid var(--primero);
    border-width: 1px 1px 3px;
    border-radius: 15px;
  }
  &::placeholder {
    color: rgb(85 121 203/0.6);
    font-size: 18px;
    font-weight: 700;
  }
}

.btn {
  grid-column: span 2;
  height: 44px;
  width: 150px;
  border-radius: 15px;
  border: 0;
  color: var(--segundo);
  font-weight: 500;
  font-size: 18px;
  background: var(--tercero);
  transition: all 0.2s;
  &:hover {
    color: var(--primero);
    background: var(--cuarto);
    border: 1px solid var(--segundo);
  }
}

div{
  display: none;
}
