@{
    ViewBag.Title = "Imprimir";
}

<h2>Imprimir</h2>

<div>
    <CrystalDecisions.Web.CrystalReportViewer ID="CrystalReportViewer1"
                                              runat="server"
                                              AutoDataBind="true"
                                              Width="100%"
                                              Height="600px"
                                              ToolPanelWidth="200px">
    </CrystalDecisions.Web.CrystalReportViewer>
</div>
