@model ProyectoFinalUsuarioAdmin.Models.UsuarioAdmin

<h2>Detalle de Usuario Administrativo</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Nombre de Usuario</dt>
        <dd>@Model.nombreUsuario</dd>
   
           
        <!-- Agrega más propiedades según las necesidades -->
    </dl>
    <dl>
        <dt>Comtraseña</dt>
        <dd>@Model.contra</dd>
    </dl>
</div>